/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #3f91c796;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

/* Common */
.section {
  padding: 75px;
  text-align: center;
}

.section__container {
  max-width: 1500px;
  margin: auto;
}

/* Header */
#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 12px;
  width: 100%;
  background-color: var(--color-blue);
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.header__logo__img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.header__logo__title {
  font-weight: bold;
}

.header__menu {
  display: flex;
}

.header__menu__item {
  font-size: 20px;
  padding: 6px 8px;
  border-radius: 4px;
  margin: 0 2px;
  border: 1px solid transparent;
}

.header__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-blue);
}

/* Home */
#home {
  background-color: var(--color-dark-blue);
  text-align: center;
  padding: 85px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border: 3px dashed var(--color-white);
  border-radius: 100%;
}

.home__description {
  font-size: 18px;
}

.home__contact {
  font-size: 22px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: 4px;
  color: var(--color-white);
  transition: all 150ms ease;
}

.home__contact:hover {
  background-color: var(--color-dark-blue);
}
